# Rose Amour Environment Variables Example
PORT=3000
JWT_SECRET=your_jwt_secret_key_here

# PostgreSQL Database Connection (Cloud SQL or Standalone PG)
SQL_URL=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=5432
SQL_DB_NAME=cloud_sql_development_database

# CinetPay Integration
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_SECRET_KEY=
CINETPAY_NOTIFY_URL=
CINETPAY_RETURN_URL=

